fastapi
uvicorn[standard]
requests
python-multipart
supabase
python-dotenv
librosa
soundfile
torch
transformers
accelerate
huggingface_hub
twilio
fpdf
edge-tts
aiofiles
pillow
streamlit
pandas
plotly
supabase
python-dotenv
